@use '../../../foundation/variables' as variable;
@use '../../../foundation/mixin' as mixin;
.market_news {
  padding: 2rem 0;
  @include mixin.sp {
    padding: 1rem 0;
  }
  &__article {
    border-bottom: solid 1px variable.$text_prohibited_color;
    padding: 1.5rem 0;
    padding-left: 1rem;
    padding-right: 2rem;
    position: relative;
    @include mixin.sp {
      padding: 1rem 0;
    }
    &-notify {
      position: absolute;
      right: 5%;
      @include mixin.sp {
        width: 1.2rem;
      }
    }
  }
  &__date {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    small {
      font-size: 1.2rem;
      margin-left: 2.5rem;
    }
    @include mixin.sp {
      font-size: 1.2rem;
      small {
        font-size: 1rem;
        margin-left: 1.5rem;
      }
    }
  }
  &__title {
    font-size: 1.4rem;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.333;
    @include mixin.sp {
      font-size: 1.2rem;
      img {
        margin-left: 0.6rem;
      }
    }
  }
  &__list {
    padding: 4rem 0;
    @include mixin.sp {
      padding: 2rem 0;
    }
  }

  &__source {
    font-size: 1rem;
    letter-spacing: 0.06em;
    text-align: right;
  }

  // 記事ページ
  &__detail {
    padding: 4rem 0;
    @include mixin.sp {
      padding: 2rem 1rem;
    }

    &-date {
      margin-top: 3rem;
      font-weight: 700;
      @include mixin.sp {
        margin-top: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
      small {
        font-size: 1.4rem;
        margin-left: 2.8rem;
      }
    }
    &-title {
      font-size: 2rem;
      font-weight: 700;
      background-color: variable.$base_color;
      padding: 1.2rem 1rem;
      margin-top: 1.1rem;
      line-height: 1.333;
      @include mixin.sp {
        font-size: 1.6rem;
      }
    }
    &-body {
      margin-top: 2rem;
      @include mixin.sp {
        margin-top: 1rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.625;
        @include mixin.sp {
          font-size: 1.4rem;
        }
      }
    }
  }
}
