@use '../foundation/variables' as variable;
@use '../foundation/mixin' as mixin;
.chart {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixin.sp {
    padding: 2rem 1rem;
  }
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: variable.$header_sub_color;
    letter-spacing: 0.1em;
    img {
      cursor: pointer;
      margin-left: 1rem;
    }
  }
  &__pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding-top: 4rem;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(variable.$white 60%, transparent 61%),
      conic-gradient(
        variable.$base_color 0% 40%,
        variable.$text_prohibited_color 40% 100%
      );
    border-radius: 50%;
    &--multi {
      background-image: radial-gradient(variable.$white 60%, transparent 61%),
        conic-gradient(
          variable.$text_color_secondary 0% 25%,
          variable.$us_asset_color 0% 50%,
          variable.$base_color 50% 75%,
          variable.$text_prohibited_color 75% 100%
        );
    }
  }
  &__spie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 200px;
    height: 200px;
  }
  &__title {
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    font-weight: 500;
    margin-top: 1.4rem;
  }
  &__sum {
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 700;
    small {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  }
  &__comparison {
    margin-top: 0.8rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
