@use '../foundation/variables' as variable;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  &-item {
    border: solid 1px variable.$text_color;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-family: variable.$font_en;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 0.3rem;
  }
  &-prev {
    img {
      transform: rotate(180deg);
    }
  }
  &--selected {
    background-color: variable.$text_color;
    color: variable.$white;
  }
}
