@use '../foundation/variables' as variable;
@use '../foundation/mixin' as mixin;

.result {
  text-align: center;
  &--margin {
    margin-top: 6rem;
  }
  &--trade {
    margin-top: 2rem;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: variable.$header_sub_color;
    letter-spacing: 0.1em;
    @include mixin.sp {
      font-size: 1.8rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    color: variable.$header_sub_color;
    letter-spacing: 0.1em;
    padding-bottom: 2rem;
    @include mixin.sp {
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }
  }
  &__image {
    padding-top: 3rem;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &-status {
      position: absolute;
      right: -10px;
      top: 20px;
      &--lock {
        right: 0;
      }
    }
    &--top {
      position: relative;
      width: fit-content;
      margin: 0 auto;
    }
  }
  &__text {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.57;
    @include mixin.sp {
      margin-top: 2rem;
      font-size: 1.2rem;
    }
    &--sub {
      margin-top: 2rem;
      font-size: 1.2rem;
    }
    &--center {
      text-align: center;
    }
  }
}
